<!DOCTYPE html><html lang="en"><head>...<link rel="stylesheet" href="/styles/search_style.css"></head><body>
<%- include('partials/header.ejs') %>

<div class="title">
  <% if (len === 0) { %>
    No Such Artist Exists.
  <% } else { %>
    <div class="artist-info">
      <img src="<%= image || '/default_artist.jpg' %>" alt="Artist's Image">
      <p class="album-title"><%= artistName %></p>
    </div>
  <% } %>
</div>

<div class="grid-container">
  <div class="grid-item text-column">S. No.</div>
  <div class="grid-item text-column">Song Details</div>
  <div class="grid-item text-column">Album Name</div>
  <div class="grid-item text-column">Duration</div>
  <div class="grid-item text-column">Add to Playlist</div>
  <% let i = 1; %>
  <% data.forEach((item, trackId) => { %>
    <div class="grid-item"><p><%= i++ %></p></div>
    <div class="grid-item text-column">
      <p id="song-name"><%= item.song_name %></p>
      <p>By -
        <% item.artist.slice(0, 2).forEach((a, idx) => { %>
          <a href="/artists/<%= encodeURIComponent(a) %>"><%= a %></a><%= idx === 0 && item.artist.length > 1 ? ', ' : '' %>
        <% }) %>
        <% if (item.artist.length > 2) { %><span>...</span><% } %>
      </p>
    </div>
    <div class="grid-item"><p><%= item.album_name %></p></div>
    <div class="grid-item"><p><%= item.duration %></p></div>
    <div class="grid-item">
      <button class="add-button" data-track="<%= trackId %>" data-modal="modal-<%= i %>">Add</button>
      <a href="https://open.spotify.com/track/<%= trackId %>"><img src="spotify-icon.svg"></a>

      <div id="modal-<%= i %>" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <form id="form-<%= i %>">
            <p>Add to playlist:</p>
            <% playlists.forEach(pl => { %>
              <label>
                <input type="checkbox" name="playlist_id" value="<%= pl.playlist_id %>">
                <%= pl.playlist_name %>
              </label>
            <% }) %>
            <button type="submit">Add</button>
          </form>
        </div>
      </div>
    </div>
  <% }) %>
</div>

<%- include('partials/footer.ejs') %>
<script src="/js/playlist-modal.js"></script>
</body></html>
