<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Topsify | Home</title>
  <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
  <div class="container">
    <!-- Search Bar, Title, and Show All Playlists Button -->
    <%- include('partials/header.ejs') %>
    
    <!-- User playlists -->
    <div class="artists">
      <% if (locals.playlists.length === 0) { %>
       <h2> You don't have any Playlists. </h2>
      <% } else { %>
        <h2>Your Playlists</h2>
        <div class="grid">
          <% const len = Math.min(6, playlists.length) %>
          <% const default_image = 'https://img.freepik.com/free-vector/futuristic-gradient-profile-picture_742173-9236.jpg?t=st=1729619249~exp=1729622849~hmac=55667e6b0eeba43d3bf64403680e0b83acda9e20e4f86ec7b91d78cb56808cc4&w=740'%>
          <% playlists.forEach(playlist => { %>
            <div class="card">
              <% const absoluteURL = 'https://topsify.onrender.com/user-playlists/'%>
              <% const relativeURL = absoluteURL + playlist.playlist_name %>
              <a href = "<%= relativeURL %>">
                <img src="<%= default_image %>" alt="Playlist 1">
              </a>
              <p><%= playlist.playlist_name  %></p>
            </div>
          <% }) %>
        </div>
      <% } %>
    </div>

    <!--popular artists -->
    <div class="playlists">
      <div class="header">
        <h2>Featured Artists</h2>
      </div>
      <div class="grid">
        <div class="card">
          <a href = "http://topsify.onrender.com/artists/Taylor%20Swift">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d7/Taylor_Swift_at_the_2023_MTV_Video_Music_Awards_4.png/330px-Taylor_Swift_at_the_2023_MTV_Video_Music_Awards_4.png" alt="Playlist 2">
          </a>
            <p> Taylor Swift </p>
        </div>
        <div class="card">
          <a href = "http://topsify.onrender.com/artists/David%20Guetta">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/2023-11-16_Gala_de_los_Latin_Grammy%2C_22_%28David_Guetta%29.jpg/330px-2023-11-16_Gala_de_los_Latin_Grammy%2C_22_%28David_Guetta%29.jpg" alt="Playlist 3">
          </a>
          <p>David Guetta</p>
        </div>
        <div class="card">
          <a href = "http://topsify.onrender.com/artists/Pritam">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ab/Pritam_Chakraborty_at_the_5th_GiMA_Awards.jpg/330px-Pritam_Chakraborty_at_the_5th_GiMA_Awards.jpg" alt="Playlist 4">
          </a>
          <p>Pritam</p>
        </div>
        <div class="card">
          <a href = "http://topsify.onrender.com/artists/Arijit%20Singh">
          
            <img src="https://m.media-amazon.com/images/M/MV5BZWY0MDYxMzYtZTAwZi00NmZjLTkwODMtZGFiOGY5MWE5Zjc1XkEyXkFqcGc@._V1_.jpg" alt="Playlist 5">
          </a>
          <p>Arijit Singh</p>
        </div>
        <div class="card">
          <a href = "http://topsify.onrender.com/artists/The%20Weeknd">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a0/The_Weeknd_Portrait_by_Brian_Ziff.jpg/1200px-The_Weeknd_Portrait_by_Brian_Ziff.jpg" alt="Playlist 6">
          </a>
          <p>The Weeknd</p>
        </div>
        <div class="card">
          <a href = "http://topsify.onrender.com/artists/Prateek%20Kuhad">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/60/Prateek_Kuhad_%28cropped%29.jpg/300px-Prateek_Kuhad_%28cropped%29.jpg" alt="Playlist 1">
          </a>
          <p>Prateek Kuhad</p>
        </div>
      </div>
    </div>

    <!-- Popular Albums -->
    <div class="albums">
      <h2>Popular Albums</h2>
      <div class="grid">
        <div class="card">
          <a href = "http://topsify.onrender.com/playlists/Autumn%20Vibes%202022">
            <img src="https://img.freepik.com/free-vector/futuristic-gradient-profile-picture_742173-9236.jpg?t=st=1729619249~exp=1729622849~hmac=55667e6b0eeba43d3bf64403680e0b83acda9e20e4f86ec7b91d78cb56808cc4&w=740" alt="Album 1">
          </a>
          <p>Autumn Vibes 2022</p>
        </div>
        <div class="card">
          <a href = "http://topsify.onrender.com/playlists/M.S.Dhoni%20-%20The%20Untold%20Story">
          <img src="https://img.freepik.com/free-vector/futuristic-gradient-profile-picture_742173-9236.jpg?t=st=1729619249~exp=1729622849~hmac=55667e6b0eeba43d3bf64403680e0b83acda9e20e4f86ec7b91d78cb56808cc4&w=740" alt="Album 2">
          </a>
          <p>M.S.Dhoni - The Untold Story</p>
        </div>
        <div class="card">
          <a href = "http://topsify.onrender.com/playlists/Love%20Aaj%20Kal%20%28Original%20Motion%20Picture%20Soundtrack%29">
          <img src="https://img.freepik.com/free-vector/futuristic-gradient-profile-picture_742173-9236.jpg?t=st=1729619249~exp=1729622849~hmac=55667e6b0eeba43d3bf64403680e0b83acda9e20e4f86ec7b91d78cb56808cc4&w=740">
          </a>
          <p>Love Aaj Kal</p>
        </div>
        <div class="card">
          <a href = "http://topsify.onrender.com/playlists/Aashiqui%202">
          <img src="https://img.freepik.com/free-vector/futuristic-gradient-profile-picture_742173-9236.jpg?t=st=1729619249~exp=1729622849~hmac=55667e6b0eeba43d3bf64403680e0b83acda9e20e4f86ec7b91d78cb56808cc4&w=740" alt="Album 4">
          </a>
          <p>Aashiqui 2</p>
        </div>
        <div class="card">
          <a href = "http://topsify.onrender.com/playlists/Rockstar">
          <img src="https://img.freepik.com/free-vector/futuristic-gradient-profile-picture_742173-9236.jpg?t=st=1729619249~exp=1729622849~hmac=55667e6b0eeba43d3bf64403680e0b83acda9e20e4f86ec7b91d78cb56808cc4&w=740" alt="Album 4">
          </a>
          <p>Rockstar</p>
        </div>
        <div class="card">
          <a href = "http://topsify.onrender.com/playlists/Kabir%20Singh">
          <img src="https://img.freepik.com/free-vector/futuristic-gradient-profile-picture_742173-9236.jpg?t=st=1729619249~exp=1729622849~hmac=55667e6b0eeba43d3bf64403680e0b83acda9e20e4f86ec7b91d78cb56808cc4&w=740" alt="Album 4">
          </a>
          <p>Kabir Singh</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Include Footer -->
  <%- include('partials/footer.ejs') %>
</body>
</html>
